* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  color: #4d4d4d;
}

.wrapper, .intro {
  height: 100vh;
  width: 100vw;
}

.intro {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.intro__items {
  height: auto;
  width: 50%;
  margin-top: -3em;
  position: relative;
}

.item {
  opacity: 0;
}

.item--rect {
  opacity: 1;
}

.item--alex {
  transform: translateY(3em);
  animation: SlideY .6s ease-in-out .5s forwards, SlideYDown .6s ease-in-out 8s forwards;
}

.item--napier {
  transform: translateY(-3em);
  animation: SlideY .6s ease-in-out .5s forwards, SlideYUp .6s ease-in-out 8s forwards;
}

.item--flag, .item--shep, .item--pen, .item--brackets, .item--veteran, .item--father, .item--designer, .item--developer {
  transform: scale(0);
  transform-origin: center;
}

.item--flag, .item--shep, .item--pen, .item--brackets {
  transform: translateY(2em);
}

.item--flag {
  animation: IconScale .6s ease-in-out 1s forwards, IconDeScale .6s ease-in-out 1.8s forwards;
}

.item--veteran {
  animation: Scale .6s ease-in-out 1s forwards, DeScale .6s ease-in-out 1.8s forwards;
}

.item--dashes {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
  animation: ScaleDashes .6s ease-in-out .5s forwards, DeScaleDashes .6s ease-in-out 8s forwards;
}

.item--shep {
  animation: IconScale .6s ease-in-out 3s forwards, IconDeScale .6s ease-in-out 3.8s forwards;
}

.item--father {
  animation: Scale .6s ease-in-out 3s forwards, DeScale .6s ease-in-out 3.8s forwards;
}

.item--pen {
  animation: IconScale .6s ease-in-out 5s forwards, IconDeScale .6s ease-in-out 5.8s forwards;
}

.item--designer {
  animation: Scale .6s ease-in-out 5s forwards, DeScale .6s ease-in-out 5.8s forwards;
}

.item--brackets {
  animation: IconScale .6s ease-in-out 7s forwards, IconDeScale .6s ease-in-out 7.8s forwards;
}

.item--developer {
  animation: Scale .6s ease-in-out 7s forwards, DeScale .6s ease-in-out 7.8s forwards;
}

.intro, .page__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 17vh;
  width: 100%;
  background: #ffffff;
  padding-bottom: 2em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(-2em);
  animation: SlideY .4s ease-in-out 8.5s forwards;
}

.header__logo {
  height: 70%;
  width: 30%;
}

.header__logo--name {
  height: 100%;
  width: 100%;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}

.header__search--icon {
  height: 1.2em;
  width: 1.2em;
  background: url('../img/icons/searchIcon.svg') center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.nav--portfolio, .nav--blog, .nav--contact {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  border: 1px solid #cccccc;
  margin: 0 1em;
}

.page__portfolio, .page__blog, .page__contact {
  height: 83vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: none;
  overflow: scroll;
  padding-top: 4em;
}

.page__title {
  font-weight: 400;
  font-size: 1.1em;
  color: #4d4d4d;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
}

.page__title::before {
  content: '';
  width: 1em;
  display: block;
  border: 1px solid #4d4d4d;
  position: absolute;
  bottom: 20%;
  left: -25%;
}

.media {
  height: 17.5em;
  width: 29.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin: 1em;
  transform: translateY(-15em);
  opacity: 0;
}

.media__image {
  height: 100%;
  width: 100%;
  background: #eee;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: .4s;
}

.media:hover .media__image {
  height: 62%;
  width: 60%;
}

.media__options {
  transform: scale(0) translateY(0);
  transition: .6s;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.media:hover .media__options {
  transform: scale(1) translateY(-.2em);
}

.media__icon-contain {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .75em;
}

.media__icon {
  height: 1em;
  width: 1em;
  background: #333;
  margin: 0 .75em;
}

.media__title {
  width: 100%;
  font-size: 1em;
  text-align: center;
  margin-bottom: .5em;
  text-transform: uppercase;
  color: #cccccc;
  font-weight: 300;
  position: relative;
}

.media__title::before, .media__title::after {
  content: '';
  width: 20%;
  display: block;
  border: 1px solid transparent;
  border-top-color: #cccccc;
  position: absolute;
  top: 50%;
}

.media__title::before {
  left: 5%;
}

.media__title::after {
  right: 5%;
}

.media__copy {
  width: 90%;
  text-align: center;
  height: auto;
  color: #b3b3b3;
  font-size: .95em;
  display: inline-block;
}

.blog__post--date, .blog__post--more {
  font: 400, 1.3em;
}

.blog__post--date {
  color: #cccccc;
}

.blog__post--title {
  font: 400, 2em;
}

.blog__post--copy {
  font: 400, 1.4em, #b3b3b3;
}

.blog__post--more, .blog__post--title {
  color: #4d4d4d;
}

.blog__post--more:hover {
  cursor: pointer;
  color: #ffffff;
  background: #2196f3;
}

@keyframes SlideY {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes BuildIn {
  to {
    transform: translateY(-1em);
    opacity: 1;
  }
}

@keyframes SlideYUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-1em);
    opacity: 0;
  }
}

@keyframes SlideYDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(3em);
    opacity: 0;
  }
}

@keyframes IconScale {
  50% {
    transform: scale(1.1);
    transform-origin: center;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: center;
    opacity: 1;
  }
}

@keyframes ScaleDashes {
  50% {
    transform: scale(0.9);
    transform-origin: center;
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    transform-origin: center;
    opacity: 1;
  }
}

@keyframes Scale {
  50% {
    transform: scale(0.8);
    transform-origin: center;
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    transform-origin: center;
    opacity: 1;
  }
}

@keyframes IconDeScale {
  0% {
    transform: scale(1);
    transform-origin: center;
    opacity: 1;
  }
  100% {
    transform: scale(0);
    transform-origin: center;
    opacity: 1;
  }
}

@keyframes DeScaleDashes {
  0% {
    transform: scale(0.8);
    transform-origin: center;
    opacity: 1;
  }
  100% {
    transform: scale(0);
    transform-origin: center;
    opacity: 0;
  }
}

@keyframes DeScale {
  0% {
    transform: scale(0.7);
    transform-origin: center;
    opacity: 1;
  }
  100% {
    transform: scale(0);
    transform-origin: center;
    opacity: 0;
  }
}

@keyframes IconFall {
  20%, 80% {
    transform: translateY(1em);
    opacity: 1;
  }
  97%, 100% {
    opacity: 0;
  }
}

@keyframes Fall {
  20%, 80% {
    transform: translateY(0) scale(0.8);
    transform-origin: center;
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}
